@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

button{
    cursor: pointer;
    border: none;
    outline: none;
    padding: .3rem .7rem;
    margin: 0 .5rem;
    border-radius: 5px;
}

i{
    pointer-events: none;
}

input{
    border: 1px solid #333;
    outline: none;
}

.App{
    max-width: 500px;
    margin: 4rem auto 0;
    text-align: center;
}
